.big-card__photo > img {
  width: 100%;
}

.container__big-card {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 600px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  margin: 20px 20px 0 0;
}

.big-card__title > p,
.big-card__description > p > a {
  color: gray;
}

.big-card__title > p {
  font-size: xx-small;
}
