<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://wallpaper.dog/large/20505675.jpg" alt="bugatti" />
  </div>
  <div class="big-card__title">
    <p>23/05/2022</p>
    <h2>
      <a href="#">Veyron 16.4 Super Sport - Versão limitada da Bugatti</a>
    </h2>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        O motor 8.0 de 16 cilindros com quatro turbos foi atualizado pela
        fabricante para gerar, agora, 1.200 cv de potência — 200 cv a mais do
        que a versão lançada em 2005. Já o torque máximo subiu de 127,4 kgfm
        para 152,9 kgfm.
      </a>
    </p>
  </div>
</div>
